
div{
    background-color: rgb(179, 161, 161);
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}
div:hover{
    background-color: brown;
}