@charset "UTF-8"
*{
    width: 100%;
}
body{
    background-image: linear-gradient(to circula ,#1B4965,#C2AFF0);
}
main{
    background-color: #9CFC97;
    border-radius: 29px;
    text-align: justify;
    margin: auto;
}
h1{
    font:italic 900 3em sans-serif;
    text-align: center;
}
h2{
    

}
p{  
    text-align: center; 
}